.btn-airbnb {
  background-color: #FF395C;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  transition: background-color 1s;
  display: inline-block;
}

.btn-airbnb:hover {
  background-color: #f26937;
}

.btn-pinterest {
  background-color: #E60023;
  padding: 16px 32px;
  border-radius: 50px;
  color: white;
}

.btn-pinterest:hover {
  background-color: #AD091B;
  transition: 1s;
}
